extends layout

block content
    a(type="button" href="#" onclick="history.back()") Back

    h1 Nation Changes
    table(class="table")
        tr
            th(style="text-align: left") Nation
            th(style="text-align: left") Type
            th(style="text-align: left") Old Value
            th(style="text-align: left") New Value
            th(style="text-align: left") Time
            th(style="text-align: left") Done by Admin
        for change in changes
            tr
                td #{change.nation.name}
                td #{change.type}
                td #{change.oldValue}
                td #{change.newValue}
                td #{change.timeStamp}
                td #{change.admin}