extends layout
include mixins

block content
    if(message)
        h1 #{message}
    a(type="button" href="#" onclick="history.back()") Back

    form(action=`/manage-nation/` method="POST" enctype="multipart/form-data" style="margin: 10px" id="form")
        input(name="nationId" type="hidden" value=nation.nationId)

        +textAttribute("name", nation.name)(required readonly=!manage)

        if(admin)
            +textAttribute("continent", nation.continent.name)(required)

        div(class="form-group")
            label(for="description") Description
            textarea(name="description" class="form-control" rows="3" id="description" value=nation.description readonly=!manage) #{nation.description}

        img(id="flag-image" src=currentFlag)

        if(manage)
            div(class="form-group")
                label(for="flag") Current Flag
                input(name="currentFlag" class="form-control-file" id="flag" type="file" readonly=!manage
                    accept= acceptedExtensions.split("|").map(extension => `.${extension}`).join(", "))

        script(type="text/javascript").
            const socials = !{JSON.stringify(nation.socials)};
            const manage = #{manage};
            System.import('/javascripts/client/manageNation.js');

        if(manage)
            button(id="add-social" type="button") Add Social
            input(id="socials-field" type="hidden" name="socials")
        table(id="socials-table")
            tr
                th(style="text-align: left") Platform
                th Link

        if(admin)
            div(class="form-check")
                label(for="nation-discord") Discord ID
                input(name="ownerDiscord" type="text" value=nation.ownerDiscord id="nation-discord")

            +removedAttribute(nation.removed)

        if(manage)
            button(id="submit-button" type="button") Submit
